@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

#app > div {
  flex: 1;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

body a {
  text-decoration: none;
  color: #064473;
  transition: 0.4s;
  padding: 3px;
}

body.-twisted a {
  color: #1b222c;
}

.bold {
  font-weight: 500;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
}

@media (hover: hover) {
  body a:hover {
    background-color: #06447348;
  }

  body.-twisted a:hover {
    background-color: #68c98448;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .section-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: start;
  }
}
